
html, body {
  padding: 0;
  margin: 0;
  font-family: helvetica, sans-serif;
}
* {
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}
.container1 {
  width: 50%;
  background-color: #1560FB;
  position: fixed;
  height: 100%;
  box-sizing: border-box;
  float: left;
}

.header{
  position: relative;
  height: 96px;
  top: 20px;
}

.header img:hover {
  opacity: .8
}

.middlepage{
  position: relative;
  width: 100%;
  display: block;
  margin-top: 100px;
}

.middlepage img {
  border-radius: 100%;
  height: 170px;
  width: 170px;
  margin: auto;
  display: block;
  box-shadow: 0 2px 2px 2px #0A4DD9;
}

.middlepagetag {
  text-align: center;
  color: #fefefe;
  opacity: .8;
  margin-top: 30px;
  margin-bottom: 7px;
  width: 100%;
}

.middlepagetext {
  color: whitesmoke;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  width: 100%;
  margin-top: 0;
}

.middlepagetext a {
  color: #fefefe;
  text-decoration: none;
  border-bottom: 2px solid #fefefe;
}

.button {
  margin: 0 auto;
}
.button a {
  text-decoration: none;
}

button {
  display: block;
  width: 251px;
  height: 50px;
  background-color: #1560FB;
  color: #fefefe;
  text-align: left;
  border-radius: 5px;
  font-weight: bold;
  border: 2px solid white;
  margin: 0 auto;
  position: relative;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
}

button:hover {
  display: block;
  width: 251px;
  height: 50px;
  background-color: #fefefe;
  color: #1560FB;
  text-align: left;
  border-radius: 5px;
  font-weight: bold;
  border: 2px solid white;
  margin: 0 auto;
  position: relative;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
}

button::after {
  content: '\279C';
  float: right;
}
.footer {
  display: block;
  margin-bottom: 10px;
  margin-top: 22%;
}

.flag a {
  text-decoration: none;
  color: currentColor;
}

.flag {
color: #A1C0F8;
padding-bottom: 8px;
}

.flag:hover {
color: white;
padding-bottom: 8px;
}

.footer1{
  position: relative;
  height: 100%;
  width: 50%;
  float:left;
  padding-left: 8px;
}

.footer1 img {
  height: 25px;
  width: 25px;
  padding-top: 5px;
}

.footer2 {
  position: relative;
  width: 50%;
  height: 25px;
  float:right;
}

.footer2 li {
  margin-left: 2px;
  margin-right: 13px;
  float: right;
  list-style: none;
  height: 15px;
  width: 15px;
}

.container2 {
  width: 50%;
  height: 100%;
  background-color: white;
  height: 100%;
  box-sizing: border-box;
  float: right;
  top: 0;
  right: 0;
  line-height: 26px;
  padding-left: 30px;
}

.aboutme {
  margin-top: 50px;
}
.maintag {
  display: block;
  color: #1560FB;
  float: left;
  width: 80px;
  clear: both;
  font-size: 12px;
  font-weight: 600;
  margin-top: 20px;
}

.aboutmetext {
  width: 75%;
  max-width: 500px;
  float: left;
  font-weight: 400;
  font-size: 15px;
  margin-top: 20px;
  margin-left: 20px;
}
.aboutmelist {
  float: left;
  clear: both;
  margin: 20px 0 0 100px;
}
.aboutmelist ul{
  margin: 0;
  padding: 0;
}
.aboutmelist li::before{
  content: ">";
  color: blue;
  padding-right: 15px;
  margin: 0;
}
 .aboutmelist li {
  max-width: 500px;
  float: left;
  line-height: 26px;
  clear: both;
  list-style: none;
  font-weight: bold;
}
.projects {
  float: left;
  margin-top: 40px;
}
.allprojects {
  width: 75%;
  max-width: 500px;
  float: left;
  display: block;
  margin-left: 20px;

}
.mainproject {
  margin-top: 20px;
}
.mainproject p {
  font-size: 15px;
}
h2 {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}
h2::after {
  content: "\21fe";
  padding-left: 15px;
  color: blue;
}

.experience {
  font-weight: bold;
  display: inline-block;
}
.title {
  display: block;
margin-bottom: 20px;
}
.Year {
  display: inline-block;
  float: right;
  font-weight: bold;
}
.resume {
  display: block;
  margin: 60px 0 80px 0;
}

h3 a {
  font-weight: bold;
  text-decoration: none;
  color: black;
}

h3::after {
  content: "\21fe";
  color: blue;
  padding-left: 20px;
}
